<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{52}) - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="warn" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="com.github.p4535992" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <!-- GATE Logging -->
    <logger name="gate" level="info">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="gate.creole.SerialController" level="info">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="gate.jape" level="info">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="gate.util.profile.Profiler" level="info">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="gate.jape.SinglePhaseTransducer" level="info">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>